@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');



.results {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 2fr);
  max-width: 1020px;
  gap: 20px;
  margin: 0 auto;

}

.app {
  max-width: 1440px;
  height: 1119px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;

}

* {
  font-family: 'Roboto';
}

.img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 86px;
  margin-bottom: 16px;
}

.image {
  width: 600px;
  height: 200px;
}

.search {
  display: flex;
  justify-content: center;
  margin-bottom: 33px;
}

.input {
  width: 990px;
  height: 56px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  padding-left: 30px;
  background-image: url(/public/filter.svg);
  background-repeat: no-repeat;
  background-position: 0.3%;
}


.card {
  background: #FFFFFF;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.14);
  border-radius: 4px;
  width: 240px;
  height: 224px;
  padding-bottom: 12px;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.card-image {
  width: 240px;
  height: 153px;
  border-radius: 8px 8px 0px 0px;
  margin-bottom: 12px;
}

.card-text {
  width: 208px;
  height: 76px;
  margin-left: 16px;
  margin-bottom: 12px;
}

.card-text h1 {
  font-size: 20px;
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.15px;
  color: rgba(0, 0, 0, 0.87);

}

.card-text p {
  margin: 0;
  letter-spacing: 0.25px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.6);
}



.character-wrapper {
  margin: 0 auto;
  width: 500px;
  height: 815px;
  margin-top: 76px;
  padding-bottom: 50px;
}

.character-wrapper h1 {
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  color: #081F32;
  margin: 0;
  margin-top: 16px;
  text-align: center;
}

.character-wrapper h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #081F32;
  margin: 0;
  letter-spacing: 0.25px;
}

.character-wrapper h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: #8E8E93;
  margin-top: 48px;
  margin-bottom: 48px;
  text-align: center;
}

.character-wrapper p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: #6E798C;
  margin: 0;
}


.back {
  
  font-weight: 700;
  font-size: 18px;
  top: 23px;
  line-height: 21px;
  text-decoration: none;
  color: black;

}

.back::before {

  content: "";
  position: relative;
  float: left;
  margin-left: 54px;
  margin-top: 2px;
  margin-right: 12px;
  width: 16px;
  height: 16px;
  background: url(/public/arrow_back_24px.svg);

}

.character-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.info-image {
  width: 300px;
  height: 300px;
  border: 5px solid #F2F2F7;

  border-radius: 150px;
}


.loader-center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}



.border {
  background: rgba(33, 33, 33, 0.08);
  mix-blend-mode: normal;
  height: 1px;
  margin-top: 11px;
  margin-bottom: 9px;
}

.border:last-child {
  background: rgba(33, 33, 33, 0.08);
  mix-blend-mode: normal;
  height: 1px;
  margin-top: 11px;
  margin-bottom: 9px;

}
/* message nothing found --------------------------------------------------------*/

.nothing-found{
  text-align: center;
  color:  rgb(8, 143, 64);
}

/* mobile layout--------------------------------------------------------------- */
@media screen and (min-width: 320px) and (max-width:769px) {

  .results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .image {
    width: 312px;
    height: 104px;
  }

  .search-wrapper {
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: center;
    align-items: center;
  }

  .search {
    width: 312px;
    height: 56px;
    border-radius: 8px;
    display: flex;
  }

  .card {
    width: 312px;
    height: 308px;
  }

  .card-image {
    width: 312px;
    height: 232px;
  }

  .card-text {
    display: flex;
    flex-direction: column;
    margin-right: 16px;
    width: 280px;
    height: 56px;
  }

  .card-text h1 {
    font-size: 20px;
    margin: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.15px;
    color: rgba(0, 0, 0, 0.87);
  }

  /*-------------------- route to card ---------------------*/
  .character-wrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    width: 368px;
    height: 815px;
  }

  .character-wrapper h3 {
    margin-left: 24px;
    margin-bottom: 16px;
    margin-top: 34px;
  }

  .character-info {
    display: flex;
    align-items: center;
  }

  .character-info h1 {
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #081F32;
    margin-top: 34px;
  }


  .info-image {
    width: 150px;
    height: 148px;
    margin-top: 78px;
  }

  .character-wrapper h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: #8E8E93;
  }

  .character-about-text {
    
  }

  .character-about-text h2 {
    margin-left: 16px;
  }

  .character-about-text p {
    margin-left: 16px;
  }

  .back::before {

    content: "";
    position: relative;
    float: left;
    margin-left: 28px;
    margin-top: 2px;
    margin-right: 12px;
    width: 16px;
    height: 16px;
    background: url(/public/arrow_back_24px.svg);

  }
  
  
  
}

/*----------------------------- login ------------------------------- */
.login{
  position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.login h1{
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 1.5px;
}

.login-button{
  width: 300px;
  height: 50px;
  border-radius: 5px;
}
.login-button:hover{
  background: rgb(180, 180, 189);
  transition: all 0.1s ease-in;
}


.sign-out{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
margin: 0 auto;
}

.logout-button{
  width: 200px;
  height: 30px;
  border-radius: 5px;
  margin-bottom: 30px;
}
.logout-button:hover{
  background: rgb(235, 194, 63);
  transition: all 0.1s ease-in;
}

@media screen and (min-width: 320px) and (max-width:1023px) {

.results {
  display: grid;
   align-items: center;
   justify-items: center;
   grid-template-columns: repeat(3, 1fr);
 }
}

@media screen and (min-width: 320px) and (max-width:770px) {


  .results {
    display: grid;
     align-items: center;
     justify-content: center;
     justify-items: center;
     grid-template-columns: repeat(2, 1fr);
     grid-gap: 0;
   }
   
  
}

@media screen and (min-width: 320px) and (max-width:666px) {
  .results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
  }
  
  
}
